#(project
  (#(meta
     (#(name lutil)
      #(description "Utility functions for LFE")
      #(version "0.7.1")
      #(keywords ("LFE" "Lisp" "Library" "Utility"))
      #(maintainers
        ((#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
      #(repos
        (#(github "lfex/lutil")))))
   #(app
     (#(mod #(lutil ()))))
