{deps, [
   {lfe, {git, "https://github.com/rvirding/lfe.git", {branch, "develop"}}}
  ]}.

{plugins, [
   {rebar3_lfe, {git, "https://github.com/lfe-rebar3/rebar3_lfe.git", {branch, "feature/ltest-support"}}}
]}.

{provider_hooks, [
   {pre, [{compile, {lfe, compile}}]}
]}.

{profiles, [
   {test, [
     {deps, [
        {ltest, {git, "https://github.com/lfex/ltest.git", {branch, "release/0.11.x"}}}]},
     {eunit_opts, [verbose]},
     {erl_opts, [{src_dirs, ["src", "test"]}]}
    ]}
  ]}.
